h1{

    color: blue;
}
table{
    border-collapse: collapse;
    collapse;border:1px solid black;
}
td{
    collapse;border:1px solid black;
}
#siteall{

    background-color: aquamarine;
    margin: 0 auto;   
    width: 900px;
     
}
#siteup{
background-color: bisque;
width: 400px;
height: 800px;
padding-top: 100px;
margin-left: 250px;
margin-right: 250px;
text-align: center;
}
#sitedown{
    background-color:palevioletred;
    width: 400px;
    height: 400px;
    margin-left: 250px;
    margin-right: 250px;  
    padding-top: 100px;
    text-align: center;
    }

